- breadcrumb :resources, Topic

= table_for @topics do |t|
  - t.column :id
  - t.column :title do |topic|
    = link_to topic.title.truncate(24), topic, class: "text-dark"
  - t.column :user_id do |topic|
    = link_to topic.user.nickname, topic.user, class: "text-dark"
  - t.column :comments_count
  - t.column :created_at
  - t.column :updated_at
  - t.column do |topic|
    = link_to t("shared.show"), topic, class: "btn btn-sm btn-dark"
    = link_to t("shared.edit"), [:edit, topic], class: "btn btn-sm btn-dark"
    = link_to t("shared.destroy"), topic, method: :delete, class: "btn btn-sm btn-dark", data: { confirm: t("shared.confirm") }

= paginate @topics

= link_to t("shared.new"), [:new, :topic], class: "btn btn-dark"
