- breadcrumb :resource, @topic

.row
  .col-9
    .mb-5
      %h1
        %strong= @topic.title
      %hr
      = simple_format(@topic.description)
      %p.text-right
        Posted by
        = link_to_if policy(@topic.user).show?, @topic.user.nickname, @topic.user, class: "text-secondary"
        at
        %span.text-muted
          = l(@topic.updated_at)

    %p.h2.mb-5
      %i.far.fa-comment-alt
      %strong
        = Comment.model_name.human
        (#{@topic.comments_count})

    - if @comments.present?
      - @comments.each do |comment|
        .mb-5
          = simple_format(comment.content)
          %p.text-right
            - if policy(comment.likes).create?
              = link_to [comment, :like], method: :post, class: "text-muted" do
                %i.far.fa-thumbs-up
                #{Like.model_name.human}(#{comment.likes_count})
            - else
              = link_to [comment, :like], method: :delete do
                %i.far.fa-thumbs-up
                %strong #{Like.model_name.human}(#{comment.likes_count})
            &nbsp;
            Posted by
            = link_to_if policy(comment.user).show?, comment.user.nickname, comment.user, class: "text-secondary"
            at
            = l(comment.updated_at)
            - if policy(comment).edit?
              &nbsp;
              = link_to t("shared.edit"), [:edit, comment], class: "text-secondary"
            - if policy(comment).destroy?
              |
              = link_to t("shared.destroy"), comment, method: :delete, class: "text-secondary", data: { confirm: t("shared.confirm") }

      = paginate @comments
    - else
      = render "blank_slate", resource: Comment

  .col-3
    - if policy(Comment).new?
      .card
        .card-header
          %strong
            = t("shared.card.header.new", resource: Comment.model_name.human)
        .card-body
          = render 'comments/form', comment: @topic.comments.new
