- breadcrumb :resource, @topic

.row
  .col-9
    %h1.h4
      %strong= @topic.title
    %hr
    = simple_format(@topic.description)
    %p.text-right
      Posted by
      = link_to @topic.user.nickname, @topic.user, class: "text-dark"
      (#{l(@topic.updated_at)})

    %p.h4.mb-4
      %i.far.fa-comment-alt
      %strong
        = Comment.model_name.human
        (#{@topic.comments_count})

    - @comments.each do |comment|
      = simple_format(comment.content)
      %p.text-right
        = link_to "#" do
          %i.far.fa-thumbs-up
          いいね(#{comment.likes_count})
        &nbsp;
        Posted by
        = link_to comment.user.nickname, comment.user, class: "text-dark"
        (#{l(comment.updated_at)})
      %hr

    /
      = table_for @comments do |t|
        - t.column :id
        - t.column :user_id do |comment|
          = link_to comment.user.nickname, comment.user
        - t.column :content
        - t.column :likes_count
        - t.column do |comment|
          = link_to t("shared.edit"), [:edit, comment], class: "btn btn-sm btn-dark"
          = link_to t("shared.destroy"), comment, method: :delete, class: "btn btn-sm btn-dark", data: { confirm: t("shared.confirm") }

    = paginate @comments
  .col-3
    .card
      .card-header
        %strong
          #{Comment.model_name.human}#{t("shared.new")}
      .card-body
        = render 'comments/form', comment: @topic.comments.new
