- breadcrumb :resource, @topic

.row
  .col-9
    %h1.h4
      %strong= @topic.title
    %hr
    = simple_format(@topic.description)
    %p.text-right
      Posted by
      = link_to @topic.user.nickname, @topic.user, class: "text-dark"
      %span.text-muted
        = l(@topic.updated_at)

    %p.h4.mb-4
      %i.far.fa-comment-alt
      %strong
        = Comment.model_name.human
        (#{@topic.comments_count})

    - @comments.each do |comment|
      = simple_format(comment.content)
      %p.text-right
        = link_to [comment, :likes], method: :post do
          %i.far.fa-thumbs-up
          #{Like.model_name.human}(#{comment.likes_count})
        &nbsp;
        Posted by
        = link_to comment.user.nickname, comment.user, class: "text-dark"
        %span.text-muted
          = l(comment.updated_at)
      %hr

    = paginate @comments
  .col-3
    .card
      .card-header
        %strong
          #{Comment.model_name.human}#{t("shared.new")}
      .card-body
        = render 'comments/form', comment: @topic.comments.new
