- breadcrumb :resource, @user

.row
  .col-9
    %p.h2.mb-4
      %i.far.fa-comment-alt
      %strong
        = Comment.model_name.human
        (#{@user.comments_count})

    - if @comments.present?
      = table_for @comments do |t|
        - t.column :id
        - t.column :topic_id do |comment|
          = link_to_if policy(comment.topic).show?, comment.topic.title, comment.topic
        - t.column :content do |comment|
          = markdown_summary comment.content, length: 12
        - t.column :likes_count
        - t.column do |comment|
          - if policy(comment).edit?
            = link_to t("shared.edit"), [:edit, comment], class: "btn btn-sm btn-dark"
          - else
            = link_to t("shared.edit"), "javascript:void(0)", class: "btn btn-sm btn-dark disabled"
          - if policy(comment).destroy?
            = link_to t("shared.destroy"), comment, method: :delete, class: "btn btn-sm btn-dark", data: { confirm: t("shared.confirm") }
          - else
            = link_to t("shared.destroy"), "javascript:void(0)", class: "btn btn-sm btn-dark disabled"

      = paginate @comments
    - else
      = render "blank_slate", resource: Comment

  .col-3
    = cache @user do
      = attributes_table_for @user do |t|
        - t.row :id
        - t.row :nickname
        - t.row :comments_count
        - t.row :likes_count
        - t.row :github_url do |user|
          = link_to user.github_url, target: "_blank" do
            %i.fas.fa-external-link-alt
            = user.github_url
        - t.row :gravatar_url do |user|
          = image_tag user.gravatar_url, width: 40, height: 40, class: :rounded, alt: ""
        - t.row :created_at
        - t.row :updated_at
