!!! 5
%html{ lang: :ja }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "format-detection", content: "telephone=no" }
    %meta{ name: "viewport",         content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    %meta{ name: "x-ua-compatible",  content: "ie=edge" }
    %title AMA
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
    = stylesheet_pack_tag "application", "data-turbolinks-track": "reload"
    = csrf_meta_tags
  %body
    = render "navbar"
    = render "flash" if flash.any?
    = render "breadcrumb" if logged_in?

    .container-fluid
      = yield
