!!! 5
%html{ lang: :ja }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport" }
    %meta{ content: "ie=edge", "http-equiv": "x-ua-compatible" }
    %meta{ content: "telephone=no", name: "format-detection" }
    = display_meta_tags(default_meta_tags)
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
    = stylesheet_link_tag "application", "data-turbolinks-track": "reload"
    = stylesheet_pack_tag "application", "data-turbolinks-track": "reload"
    = csrf_meta_tags
  %body
    = render "navbar"
    = render "flash"
    = render "breadcrumb" if logged_in?

    .container-fluid
      = yield
